<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1 data-th-text="${name}">Welcome to home page</h1>
        <p>Youtube Channel : <span data-th-text="${youtubeChannel}"></span></p>
        <p>Github Link : <span th:text="${githubRepo}"></span></p>
        <a th:href="${githubRepo}">Click here to open</a>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque officia dolorum corrupti delectus neque veniam optio eligendi eos doloribus, cum error voluptatum dolore est possimus rerum, dolores asperiores ut! Earum?</p>
    </div>
    
</body>
</html>